.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

nav {
  font-family: 'Anton', sans-serif;
  font-weight: lighter;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #1c1f24;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 50%;
}

.options {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* justify-content: space-around; */
  width: 50%;
}

.div-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.title-thugs {
  color: white;
  font-size: large;
}

.title-721 {
  color: #2bdfe2;
  font-size: large;
}

.div-links {
  padding-right: 5%;
}

.links {
  color: white;
  margin: 3px;
  text-decoration: none;
}

.links:hover {
  color: #2bdfe2;
}

/* .meta-mask{
  
} */

.meta-mask-p {
  background-color: #2bdfe2;
  color: black;
  padding: 4px;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* width: 87px; */
}

.meta-mask-p:hover {
  background-color: #128a8c;
  color: white;
  cursor: pointer;
}

i{
  margin-right: 6px;
}

.metamask-icon {
  height: 17px;
  padding-left: 3px;
  padding-right: 7px;
}

/*minter  */

.container {
  min-height: 70vh;
  background-color: black;
  color: white;
  font-family: 'Anton', sans-serif;
  font-weight: lighter;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container p {
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 105%;
  font-weight: 100;
  padding: 2%;
  margin-top: 0%;
  color: white;
}

.container button {
  height: 60px;
  border: #2bdfe2;
  border-radius: 20px;
  font-family: 'Anton', sans-serif;
  font-weight: lighter;
  font-size: 20px;
  background-color: #2bdfe2;
  color: black;
}

.container button:hover {
  background-color: #128a8c;
  cursor: pointer;
  color: white;
}

/*  */

.displayImg{
  margin-top: 5vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  /* min-width: 500px; */
  max-width: 700px;
}

.displayImg img{
  border-radius: 20px;
  height: 200px;
  margin: 1%;
}



.minted-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1000px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 30px;
  height: 250px;
  width: 200px;
  background-color: #2bdfe2;
  margin: 20px;
}

.card:hover{
  box-shadow: #128a8c;
}

.NFT-image{
  height: 180px;
}

.card img {
  overflow: hidden;
  height: 175px;
  border-radius: 10px;
  width: auto;
}

.card p {
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 9px;
  font-weight: bolder;
}

.card p:hover{
  color: white;
  cursor: pointer;
}

.NFT-image{
  /* background-color: black; */
  height: 180px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}